# Composer
/vendor

# npm
/node_modules

# Laravel
.env

# PHP CS Fixer
.php_cs.cache

# Mac
.DS_Store

# PhpStorm
.idea/

# Laravel Debugbar
storage/debugbar

# Homestead
Homestead.yaml
Homestead.json

# Gulp
public/build
public/css
public/js
